.tableContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 100%;

    .bigDonorGraphContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 1300px !important;
        }
        
     }

}